@import '_partials/index';

html,
body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-family: 'Microsoft YaHei', '微软雅黑', STXihei, '华文细黑', Arial, serif;
  h1 {
    text-transform: uppercase;
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  a {
    color: #5555ff;
  }
}

.block {
  border: 1px solid #000;
  margin: 10px;
  // color: #fff;
  width: 500px;
  font-size: 15px;
  // background-color: #5555ff;
  @include block-ellipsis(1, 15px);
}

.buttonA {
  padding: 10px;
  @include border-radius(5px);
  border: 1px solid #000;
  margin: 10px;
}

.change-language {
  text-align: right;
  padding: 10px;
}
.fn-grid {
  $pad: 10px;
  // font-size: 0;
  .filter {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
  }
  .input-text {
    padding: $pad / 2;
    margin: $pad / 2;
  }
  .input-select {
    padding: $pad / 2;
    margin: $pad / 2;
  }
  .paging {
    display: block;
    text-align: right;
    .btns {
      position: relative;
      display: inline-block;
      padding: $pad;
      vertical-align: middle;
      button {
        $w: 20px;
        @include border-radius(4px);
        cursor: pointer;
        border: 1px solid #999;
        position: relative;
        height: $w;
        width: $w;
        vertical-align: middle;
        $triW: 6px;
        $triH: 13px;
        $triC: #999;
        &.previous {
          @include icon-arrow(left, $triH, $triW, $triC);
        }
        &.next {
          @include icon-arrow(right, $triH, $triW, $triC);
        }
        &:disabled {
          @include opacity(0.6);
          cursor: default;
        }
      }
    }
    .page-of {
      display: inline-block;
      vertical-align: middle;
      .page-size {
        vertical-align: middle;
        @include border-radius(4px);
        border: 1px solid #999;
      }
    }
  }
  .table {
    @include box-sizing();
    border: 1px solid #e5e5e5;
    display: table;
    width: 100%;
    .row {
      font-size: 0;
      vertical-align: top;
      @include tablet- {
        display: table-row;
      }
      &:nth-of-type(odd) {
        background-color: #f5f5f5;
      }
      &:nth-of-type(even) {
        background-color: #fff;
      }
      .cell {
        @include box-sizing();
        font-size: 1rem;
        vertical-align: top;
        padding: $pad;
        @include tablet- {
          display: table-cell;
        }
        @include mobile {
          display: inline-block;
          &:nth-of-type(1) {
            font-weight: bold;
            width: 20%;
          }
          &:nth-of-type(2) {
            width: 40%;
          }
          &:nth-of-type(3) {
            width: 40%;
          }
          &:nth-of-type(4) {
            width: 30%;
          }
          &:nth-of-type(5) {
            width: 70%;
          }
          &:nth-of-type(6) {
            width: 50%;
          }
          &:nth-of-type(7) {
            width: 50%;
          }
        }
      }
      &.filter {
        @include mobile {
          display: none;
        }
        .cell {
          padding: 1px $pad;
        }
      }
      &.hd {
        @include mobile {
          display: none;
        }
        .cell {
          font-weight: bold;
        }
      }
      &.sorting {
        @include mobile {
          display: none;
        }
        .cell {
          padding: 1px $pad;
        }
      }
    }
  }
}
