@import '_partials/index';

html,
body {
  padding: 0px;
  margin: 0px;
  font-size: 13px;
  @include mobile {
    font-size: 12px;
  }
  font-family: 'Microsoft YaHei', '微软雅黑', STXihei, '华文细黑', Arial, serif;
  button {
    cursor: pointer;
  }
  h1 {
    text-transform: uppercase;
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  a {
    color: #5555ff;
  }
}

.block {
  border: 1px solid #000;
  margin: 10px;
  // color: #fff;
  width: 500px;
  font-size: 15px;
  // background-color: #5555ff;
  @include block-ellipsis(1, 15px);
}

.buttonA {
  padding: 10px;
  @include border-radius(5px);
  border: 1px solid #000;
  margin: 10px;
}

.change-language {
  text-align: right;
  padding: 10px;
}

@mixin float-label($text: 'text') {
  &:after {
    content: $text;
    @include transition();
    @include opacity(0);
    @include float(center);
    position: absolute;
    top: 0px;
    font-size: 0.8rem;
  }
  &:hover {
    &:after {
      top: -18px;
      @include opacity(1);
    }
  }
}

.fn-grid {
  $pad: 10px;
  // font-size: 0;
  .filter {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
  }
  .input-text {
    padding: $pad / 2;
    margin: $pad / 2;
  }
  .input-select {
    padding: $pad / 2;
    margin: $pad / 2;
  }
  .paging {
    display: block;
    text-align: right;
    .btns {
      position: relative;
      display: inline-block;
      padding: $pad;
      vertical-align: middle;
      button {
        $w: 20px;
        @include border-radius(4px);
        cursor: pointer;
        border: 1px solid #999;
        position: relative;
        height: $w;
        width: $w;
        vertical-align: middle;
        $triW: 6px;
        $triH: 13px;
        $triC: #5f5f5f;
        &.previous {
          @include icon-arrow(left, $triH, $triW, $triC);
          @include float-label('Previous');
        }
        &.next {
          @include icon-arrow(right, $triH, $triW, $triC);
          @include float-label('Next');
        }
        &.first {
          @include icon-arrow(left, $triH, $triW, $triC);
          @include float-label('First');
        }
        &.last {
          @include icon-arrow(right, $triH, $triW, $triC);
          @include float-label('Last');
        }
        &:disabled {
          @include opacity(0.6);
          cursor: default;
        }
      }
    }
    .page-of {
      display: inline-block;
      vertical-align: middle;
      .page-current,
      .page-size {
        border: 1px solid #999;
        vertical-align: middle;
        @include border-radius(4px);
      }
      .page-size {
        // position: relative;
        // border: 10px solid #999;
        @include float-label('Previous');
      }
    }
  }
  .table {
    @include box-sizing();
    border: 1px solid #e5e5e5;
    display: table;
    width: 100%;
    .row {
      // $bgX: #f89807;
      $bgX: #fc0;
      font-size: 0;
      vertical-align: top;
      @include mobile {
        margin: ($pad * 1.3) $pad;
        overflow: hidden;
        @include border-radius(6px);
        @include box-shadow(0px 0px 6px rgba(0, 0, 0, 0.4));
      }
      @include mobile- {
        display: table-row;
      }
      &:nth-of-type(odd) {
        background-color: #f5f5f5;
      }
      &:nth-of-type(even) {
        background-color: #fff;
      }
      @include mobile {
        background-color: $bgX !important;
      }
      .cell {
        @include box-sizing();
        font-size: 1rem;
        vertical-align: top;
        padding: $pad;
        @include mobile- {
          display: table-cell;
        }
        @include mobile {
          padding-top: $pad * 0.7;
          padding-bottom: $pad * 0.7;
          display: inline-block;
          &:nth-of-type(1) {
            font-weight: bold;
            width: 20%;
            background-color: lighten($bgX, 25%);
          }
          &:nth-of-type(2) {
            width: 40%;
            background-color: lighten($bgX, 16%);
          }
          &:nth-of-type(3) {
            width: 40%;
            background-color: lighten($bgX, 10%);
          }
          &:nth-of-type(4) {
            width: 30%;
            background-color: lighten($bgX, 12%);
          }
          &:nth-of-type(5) {
            width: 70%;
            background-color: lighten($bgX, 6%);
          }
          &:nth-of-type(6) {
            width: 50%;
            background-color: lighten($bgX, 5%);
          }
          &:nth-of-type(7) {
            background-color: lighten($bgX, 0%);
            // @include block-ellipsis(1, 10);
            width: 50%;
          }
        }
      }
      &.filter {
        @include mobile {
          display: none;
        }
        .cell {
          padding: 1px $pad;
        }
      }
      &.hd {
        @include mobile {
          display: none;
        }
        .cell {
          font-weight: bold;
        }
      }
      &.sorting {
        @include mobile {
          display: none;
        }
        .cell {
          padding: 1px $pad;
        }
      }
    }
  }
}
